a {
  text-decoration: none;
}

.active .nav_item {
  background-color: rgb(6, 10, 5);
  color: white;
}

.active .MuiButtonBase-root .MuiListItemIcon-root .MuiSvgIcon-root {
  color: white !important;
}

.active .nav_item:hover {
  background-color: rgb(6, 10, 5);
  color: white;
}

.MuiBox-root .css-164r41r {
  width: 480px;
}

.field_error {
  color: red;
}
